# Compiled Object files
obj/*

# Binary of the game
WizardsAndWarlocks*

# Compiled Dynamic libraries
#*.so
*.dylib
#*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# .vs in src
src/.vscode

# The graphic engine files
src/Engines/TravelersOcularEngine