# Compiled Dynamic libraries
#*.so
*.dylib
#*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled Object files
obj/*

# Binary of the game
WizardsAndWarlocks*

# Imgui init
bin/imgui.ini

# all .vscode folders
**/.vscode

# The graphic engine files
src/Engines/TravelersOcularEngine

# Animations
assets/modelos/Wizard/circle
assets/modelos/Wizard/dance
assets/modelos/Wizard/dab
assets/modelos/Wizard/win
assets/modelos/Wizard/shoot3


#assets/modelos/Warlock/circle
#assets/modelos/Warlock/dance
#assets/modelos/Warlock/dab
#assets/modelos/Warlock/win
#assets/modelos/Warlock/shoot3

############################
assets/modelos/Wizard/jump
